.details-project{
    /* background-color: #ce6108; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px;
}

.details-project>h3{

    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 2rem;
    padding-bottom: 20px;
}

.image-project{
    min-width: 300px;
   width:70%;
   margin: 20px 0;
}


.description-project{
    display: block;
    width: 100%;
    margin: 20px 0;
    text-align: left;
    max-width: 700px;
}

.links-project{
    /* background-color: darkgrey; */
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.links-project>span{
    font-weight: bold;
}
.links-project>span>a{
    color: rgb(251, 255, 0);
}

.description-project>span{
    font-weight: bold;
}