.mySocialMedias{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: stretch; */
    /* background-color: cadetblue; */
    
}

.mySocialMedias>h2{
    font-weight: bold;
}

.mySocialMedias>ol>li{
    text-decoration: none;
    display: inline;
}