/* font-family: 'Dancing Script', cursive;
font-family: 'Estonia', cursive;
font-family: 'Itim', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Mono', monospace; 
font-family: 'Fira Code', monospace;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(27, 49, 136);
    color: white;
}