.infoContainer{
    /* background-color: aquamarine; */
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
} 

.image{
    border-radius: 50%;
    box-shadow: 4px 4px 4px 2px rgb(52, 53, 56);
}

.tittle{
    margin-top: 15px;
    font-size: 1.2rem;
}

.description{
    text-align: justify;
    max-width: 700px;
    padding: 1rem;
    margin-bottom: 50px;
}